:root{
    --zelena: #23451f;
    --zelena-hover: #101f0e;
    --modra: #58adb8;
    --pozadi: #131313;
    --seda: #333333;
    --shadow: rgba(88, 173, 184, 0.329);
    --prekryti: rgba(0, 0, 0, 0.7);
    --transparent: rgb(0,0,0,0);
}

html{
    /*background-image: url('../media/pozadi.jpg');*/
    background-color: var(--pozadi);
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin:0;
    padding: 0;
}

header, footer{
    text-align: center;
    color: white;
    background:linear-gradient(0deg, var(--prekryti), var(--prekryti)), url(../media/pozadi.jpg);
    margin: 0;
}

header{
    padding: 80px 0;
}

header a, footer a{
    color: white;
}

footer{
    padding: 30px 0;
}

main{
    flex: 1;
    width: 1200px;
    max-width: 100%;
    margin: 80px auto;
    color:white;
    text-align: center;
}

h1{
    font-family: Consolas,monaco, monospace;
    font-size: 50px;
    line-height: 65px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.formular{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontální vycentrování */
    align-items: center; /* Vertikální vycentrování */
}

.profileCard{
    background: linear-gradient(0deg, var(--prekryti), var(--prekryti)), url(../media/pozadi-karty.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    border-radius: 30px;
    color:white;
    text-align: center;
    box-shadow: var(--shadow) 0 0 20px;
    transition: 300ms;
}

.profileCard:last-child{
    background: none;
    box-shadow: none;
}

.profileCard:hover{
    box-shadow: var(--shadow) 0 0 40px;
}

.profileCard:last-child:hover{
    box-shadow: none;
}

.profileCard h2{
    margin-top: 0px;
    margin-bottom: 10px;
}

.profileCardWraper{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tři sloupce s flexibilní šířkou */
    grid-gap: 50px; /* Volitelná mezera mezi sloupci */
}

button{
    padding: 15px 30px;
    background-color: var(--zelena);
    color: white;
    border:none;
    border-radius: 30px;
    transition: 300ms;
    cursor: pointer;
}

button:hover{
    background-color: var(--zelena-hover);
    transform: scale(1.1);
}

table{
    width:100%;
    table-layout: fixed;
    border: none;
}

thead, tfoot{
    background-color: var(--modra);
    border: none;
}

thead th{
    border: solid 1px var(--pozadi);
    text-transform: uppercase;
}

thead a{
    color: var(--pozadi)
}

tbody{
    background-color: var(--seda);
}

th, td{
    padding: 10px;
    border-collapse: collapse;
}

td{
    border: solid 1px var(--pozadi);
}

.active.asc::after{
    content: "▼";
    margin-left: 10px;
}

.active.desc::after{
    content: "▲";
    margin-left: 10px;
}

#sortByName .active.asc::after{
    content: "Z - A";
}

#sortByName .active.desc::after{
    content: "A - Z";
}

.active{
    color: #73312c;
    transition: 300ms;
}

.active:hover{
    color: #4d211e;
}

.icon{
    width: 24px;
    vertical-align: bottom;
}

#nameContains{
    padding: 15px 30px;
    border-radius: 30px;
}